---
import ThemeSelect from "src/components/ui/starlight/ThemeSelectMobile.astro";
import type { Props } from "@astrojs/starlight/props";
---

<div class="mobile-preferences sl-flex">
  <ThemeSelect />
</div>

<style>
  .mobile-preferences {
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid var(--sl-color-gray-6);
    column-gap: 1rem;
    padding: 0.5rem 0;
    align-items: center;
  }
</style>
