---
// Import the necessary components
import MainLayout from '@/layouts/MainLayout.astro'
import HeroSection from '@components/sections/landing/HeroSection.astro'
import HeroSectionAlt from '@components/sections/landing/HeroSectionAlt.astro'
import FeaturesNavs from '@components/sections/features/FeaturesNavs.astro'
import agoraLogo from '@images/agora-logo.jpg'
import construction from '@images/construction-image.avif'
import tools from '@images/automated-tools.avif'
---

<MainLayout>
  <HeroSection
    title=`Work smarter with <span class="tracking-wider">AGORA 
        CONTRACTS</span>`
    subTitle='Providing top-quality all trades building services for commercial, industrial or public sector projects tailored to meet your needs.'
    primaryBtn='Our Services'
    primaryBtnURL='/services'
    secondaryBtn='Contact Us'
    secondaryBtnURL='/contact'
    withReview={true}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={agoraLogo}
    alt='Construction workers on a building site'
  />

  <FeaturesNavs
    title=`Agora Contracts provide top-quality building services tailored to meet your needs.`
    tabs={[
      {
        heading: 'Services',
        content:
          'From electrical works to plumbing and everything in between, we have the expertise to deliver your project on time.',
        svg: 'tools',
        src: tools,
        alt: 'Yellow and black heavy equipment on brown grass field',
        first: true,
      },
      {
        heading: 'Public Sector',
        content:
          'We specialise in delivering high-quality construction services for public sector projects.',
        svg: 'house',
        src: construction,
        alt: 'Gray metal building frame near tower crane during daytime',
        second: true,
      },
    ]}
  />

  <HeroSectionAlt
    title='Work with us'
    subTitle='Get in touch with us today to discuss your next project.'
    url='tel:01698679868'
  />
</MainLayout>
