<span class='flex h-10 items-center gap-2'>
  <img src='/agora-logo-dark.png' class='block h-8 dark:hidden' />
  <img src='/agora-logo-light.png' class='hidden h-8 dark:block' />
  <h1
    class='text-base uppercase tracking-wider dark:text-white md:text-lg lg:text-xl'
  >
    Agora Contracts
  </h1>
</span>
